<section class="ui raised segment">
  <div class="ui two column center aligned middle aligned grid segment">
    <div class="column">
      <img src="../images/timeline.jpg" class="ui centered medium image">
    </div>
    <div class="column">
      <table class="ui very basic table">
        <thead>
        <tr>
          <th> Tweets </th>
          <th width="200"> </th>
          <th width="100"> Delete </th>
        </tr>
        </thead>
        <tbody>
        {{#each tweets}}
          <tr>
            <td> {{tweet}} </td>
            <td> {{tweeter.firstName}} {{tweeter.lastName}} </td>
            <td> <a href="/admindeletetweet/{{id}}"><i class="large red trash icon"></i></a> </td>
          </tr>
        {{/each}}
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3">
            <a href="/admindeletealltweets/{{id}}">
              <button class="ui tiny red right floated button">Delete All Tweets</button>
            </a>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>