<section class="ui raised segment">
  <div class="ui two column center aligned middle aligned grid segment">
    <div class="column">
      <img src="images/timeline.jpg" class="ui centered medium image">
    </div>
    <div class="column">
      <table class="ui very basic table">
        <thead>
        <tr>
          <th> Tweet </th>
        </tr>
        </thead>
        <tbody>
        {{#each tweets}}
          <tr>
            <td>
            <div class="content" style="font-size:18px">
              <b>{{tweet}}</b>
            </div>
              {{#if picture.data}}
                <div class="image">
                  <img src="/getPicture/{{id}}" height="150" width="150" />
                </div>
              {{/if}}
              <br>
              <div class="metadata" style="color:grey">
                <i class="user icon"></i>{{tweeter.firstName }} {{tweeter.lastName}}
                <div class="date">
                  <i class="grey wait icon"></i>{{date}}
                </div>
              </div>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>